<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Update Password</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>

<body>
    {{ template "header" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Update password</h3>
                <form id="update-password">
                    <div class="form-group">
                        <label for="currently-password">Currently Password</label>
                        <input type="password" class="form-control" id="currently-password" name="currently-password"
                            placeholder="Type your currently password" required="required">
                    </div>
                    <div class="form-group">
                        <label for="new-password">New password</label>
                        <input type="password" class="form-control" id="new-password" name="new-password"
                            placeholder="Type your new password" required="required">
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm password</label>
                        <input type="password" class="form-control" id="confirm-password" name="confirm-password"
                            placeholder="Confirm your new password" required="required">
                    </div>
                    <button class="btn btn-info" type="submit">
                        Save Changes
                    </button>
                </form>
            </div>
        </div>
    </div>

    {{ template "footer" }}
    {{ template "scripts" }}

    <script defer src="/assets/js/user.js"></script>
</body>

</html>